body {
  font: 20px Arial, sans-serif;
}

.navbar {
    background-color: rgb(29, 233, 165);
}

.quem-somos {
    background-color: rgb(178, 178, 236);
}

.margin {
    padding-bottom: 50px;
}

.parceiros {
    background-color: aquamarine;
}

.bg-footer {
    background-color: rgb(67, 117, 67);
    color: white;
}